/* <?php $colorpackName = $gallery->i18n('Deep Sea'); ?>
 * $Revision: 15342 $
 */

#gallery {
  color: #ffffff !important;
  background-color: seagreen !important;
}
body.gallery { background-color: seagreen !important; }

.gcBackground1 { background-color: #14ac58 !important; }
.gcBackground2 { background-color: #149a30 !important; }

.gcBorder1 { border-color: lightgreen !important; }
.gcBorder2 { border-color: #696969 !important; }

#gallery a { color: lightgreen !important; }
#gallery a:hover { color: lime !important; }
#gallery a:active { color: lime !important; }
#gallery .gbTabBar a { color: seagreen !important; }

.giSuccess { color: yellow !important; }
.giWarning { color: lime !important; }
.giError { color: #ff3333 !important; }
.giInfo { color: seashell !important; }
.block-core-PeerList .current { color: #ffffff !important; }

table.gbDataTable th { background-color: #14ac58 !important; }
.gbEven { background-color: #55cc55 !important; }
.gbOdd { background-color: #66aa66 !important; }
#gallery .autoCompleteShadow { background-color: #181 !important; }
.autoCompleteContainer .yui-ac-highlight { background-color: #3c5 !important; }
.autoCompleteContainer {
  background-color: #1a3 !important;
  border-bottom-color: #025 !important;
}

#gallery select { background-color: lightgreen !important; }
#gallery textarea { background-color: lightgreen !important; }
#gallery input { background-color: lightgreen !important; }
#gsSidebar ul span { color: #3399ff !important; }
#gallery div.gbTabBar a {
  color: seagreen !important;
}
