/* <?php $colorpackName = $gallery->i18n('Blue'); ?>
 * $Revision: 15342 $
 */

#gallery {
  color: #000 !important;
  background-color: #babaf8 !important;
}
body.gallery { background-color: #babaf8 !important; }

.gcBackground1 { background-color: #aaaae8 !important; }
.gcBackground2 { background-color: #9a9ad8 !important; }

.gcBorder1 { border-color: #8888c8 !important; }
.gcBorder2 { border-color: #5555b8 !important; }

#gallery a { color: #336 !important; }
#gallery a:hover { color: #366 !important; }
#gallery a:active { color: #399 !important; }

.giSuccess { color: #190 !important; }
.giWarning { color: #b31 !important; }
.giError { color: #d14 !important; }
.giInfo { color: #103 !important; }
.block-core-PeerList .current { color: #67b !important; }

table.gbDataTable th { background-color: #9a9ad8 !important; }
.gbEven { background-color: #babaf8 !important; }
.gbOdd { background-color: #aaaae8 !important; }

input.inputTypeSubmit, input.inputTypeButton { background-color: #cce !important; }
#gallery select { background-color: #ddf !important; }

