/* <?php $colorpackName = $gallery->i18n('Blue Bottle'); ?>
 * $Revision: 15978 $
 */

#gallery {
  color: #ffffff !important;
  background-color: #123456 !important;
}
body.gallery { background-color: #123456 !important; }

.gcBackground1 { background-color: #56789a !important; }
.gcBackground2 { background-color: #234567 !important; }

.gcBorder1 { border-color: #345678 !important; }
.gcBorder2 { border-color: #696969 !important; }

#gallery a { color: skyblue !important; }
#gallery a:hover { color: #cccc00 !important; }
#gallery a:active { color: #cccc00 !important; }

.giSuccess { color: #190 !important; }
.giWarning { color: #b31 !important; }
.giError { color: #d14 !important; }
.giInfo { color: seashell !important; }
.block-core-PeerList .current { color: #67b !important; }

table.gbDataTable th { background-color: #456789 !important; }
.gbEven { background-color: #707070 !important; }
.gbOdd { background-color: #505050 !important; }

#gallery select { background-color: #a0a0a0 !important; }
#gallery input { background-color: #a0a0a0 !important; }
#gallery textarea { background-color: #a0a0a0 !important; }
#gsSidebar ul span { color: #3399ff !important; }
#gallery div.gbTabBar a {
  color: blue !important;
}

.autoCompleteContainer li {
    color: #000 !important;
}
