# Testing mod_rewrite full functionality
RewriteEngine On

# Uncomment and edit this line as appropriate to reflect your Gallery installation.
#RewriteBase /<Your Gallery Location>/modules/rewrite/data/mod_rewrite_no_options/custom/

RewriteRule Rewrite.txt Works.txt [L]
