    <?php if (!empty($templateData['stackTrace'])): ?>
    <div class="stack_trace">
      <?php print implode('<br/>', $templateData['stackTrace']) ?>
    </div><br/>
    <?php endif; ?>

    <h1><?php print _('Install Plugins') ?></h1>

    <?php if (isset($templateData['needsConfiguration'])): ?>
    <ul class="warning">
    <?php foreach ($templateData['needsConfiguration'] as $moduleId => $moduleName): ?>
      <li><?php printf(_("The <i>%s</i> module was installed, but needs configuration to be activated"), $moduleName) ?></li>
    <?php endforeach; ?>
    </ul>
    <p>
      <?php print _("After finishing this installation, login as Admin and browse to Site Admin. Go to the <i>Modules</i> view and configure the above listed modules."); ?>
    </p>
    <?php endif; ?>

    <?php if (isset($templateData['activated'])): ?>
    <ul class="success">
    <?php foreach ($templateData['activated'] as $moduleId => $moduleName): ?>
      <li><?php printf(_("Activated the <i>%s</i> module successfully"), $moduleName) ?></li>
    <?php endforeach; ?>
    </ul>
    <?php endif; ?>

    <?php if ($templateData['anyInstallable']): ?>
    <div class="go">
	  <a href="<?php generateUrl(sprintf('%s?step=%s', INDEX_PHP, $currentStep->getStepNumber())) ?>" class="btn continue"><i></i><span><span></span><i></i><?php print _('Activate More Modules'); ?></span></a>
      <?php $nextStep = $stepNumber + 1 ?>
	  <a href="<?php generateUrl(sprintf('%s?step=%s', INDEX_PHP, $nextStep)) ?>" class="btn continue"><i></i><span><span></span><i></i><?php printf(_('Continue to Step %d&raquo;'), $nextStep); ?></span></a>
    </div>
    <?php endif; ?>

    <?php if (!empty($templateData['debug'])): ?>
    <div class="debug">
      <h3> <?php print _("Debug Output") ?> </h3>
      <pre><?php print $templateData['debug'] ?></pre>
    </div>
    <?php endif; ?>
