  <script type="text/javascript">
    // <![CDATA[
    function BlockToggle(objId, togId) {
      var o = document.getElementById(objId), t = document.getElementById(togId);
      if (o.style.display == 'none') {
	o.style.display = 'inline';
	t.innerHTML = '-';
      } else {
	o.style.display = 'none';
	t.innerHTML = '+';
      }
    }
    // ]]>
  </script>

  <?php if (!empty($manifest['missing'])): ?>
  <span id="ManifestSystemCheck_missing_toggle" onclick="BlockToggle('ManifestSystemCheck_missing', 'ManifestSystemCheck_missing_toggle_indicator')">
    <span id="ManifestSystemCheck_missing_toggle_indicator" class="showHideToggle">+</span>
    <b>
      <?php printf(_("Missing files (%d)"), count($manifest['missing'])) ?>
    </b>
  </span>
  <?php if ($isSvnInstall): ?>
  <br/>
  <?php print _("Note: You're running Gallery from SVN, so recently removed files may appear here.  It might be safe to ignore these."); ?>
  <?php endif; ?>
  <textarea wrap="off" readonly="readonly" rows="<?php print count($manifest['missing'])?>" class="manifestBlock" id="ManifestSystemCheck_missing" style="display: none"><?php foreach ($manifest['missing'] as $fileName): ?><?php print "$fileName\n" ?><?php endforeach; ?></textarea>
  <?php endif; ?>

  <?php if (!empty($manifest['missing']) && !empty($manifest['modified'])): ?>
  <br /> <br />
  <?php endif; ?>

  <?php if (!empty($manifest['modified'])): ?>
  <span id="ManifestSystemCheck_modified_toggle" onclick="BlockToggle('ManifestSystemCheck_modified', 'ManifestSystemCheck_modified_toggle_indicator')">
    <span id="ManifestSystemCheck_modified_toggle_indicator" class="showHideToggle">+</span>
    <b>
      <?php printf(_("Modified files (%d)"), count($manifest['modified'])) ?>
    </b>
  </span>
  <?php if ($isSvnInstall): ?>
  <br/>
  <?php print _("Note: You're running Gallery from SVN, so some modified files are to be expected.  You can probably ignore these, but to be safe you should make sure that you do 'svn update' before continuing."); ?>
  <?php endif; ?>
  <textarea wrap="off" readonly="readonly" rows="<?php print count($manifest['modified'])?>" class="manifestBlock" id="ManifestSystemCheck_modified" style="display: none"><?php foreach ($manifest['modified'] as $fileName): ?><?php print "$fileName\n" ?><?php endforeach; ?></textarea>
  <?php endif; ?>

  <?php if (!empty($manifest['modified']) && !empty($manifest['shouldRemove'])): ?>
  <br /> <br />
  <?php endif; ?>

  <?php if (!empty($manifest['shouldRemove'])): ?>
  <span id="ManifestSystemCheck_shouldRemove_toggle" onclick="BlockToggle('ManifestSystemCheck_shouldRemove', 'ManifestSystemCheck_shouldRemove_toggle_indicator')">
    <span id="ManifestSystemCheck_shouldRemove_toggle_indicator" class="showHideToggle">+</span>
    <b>
      <?php printf(_("Old files (%d)"), count($manifest['shouldRemove'])) ?>
    </b>
  </span>
  <br/>
  <?php print _("These files are no longer part of Gallery. They probably won't cause any problems but it is a good idea to remove them to keep your install clean."); ?>
  <textarea wrap="off" readonly="readonly" rows="<?php print count($manifest['shouldRemove'])?>" class="manifestBlock" id="ManifestSystemCheck_shouldRemove" style="display: none"><?php foreach ($manifest['shouldRemove'] as $fileName): ?><?php print "$fileName\n" ?><?php endforeach; ?></textarea>
  <?php endif; ?>
