/*
	Siriux Gallery 2 Theme
	Copyright 2005-2007 Nico Kaiser.
*/


/* -- Main layout definitions ------------- */

body.gallery {
	margin: 1.5em;
	padding: 0;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: small;
	background-color: #fff;
	color: #333;
	text-align: center;
}

a {
	color: #38c;
}

a:hover {
	color: #05a;
}

hr {
	color: #fff;
	height: 1px;
	border: none;
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 0;
	clear: both;
}

.clear {
	clear: both;
}

.breadcrumb {
	float: right;
	color: #333;
	font-size: 0.9em;
}

.header {
}

.content {
	clear: both;
	margin: 0 auto;
	text-align: left;
}

.footer {
	font-size: 0.8em;
	color: #999;
	margin-top: 4em;
	padding-top: 1.5em;
	border-top: 1px solid #ddd;
}

.gallery h2 {
	clear: both;
	margin: 1.5em 0;
	padding-bottom: 0.2em;
	border-bottom: 1px solid #ddd;
	font-size: 1.5em;
}

.gallery h3 {
	clear: both;
	margin: 1.5em 0 1em 0;
	font-size: 1.2em;
}


/* -- Gallery thumbnails ------------------ */

.gallery-thumb {
	margin: 5px;
	float: left;
	text-align: center;
}

.gallery-thumb img {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	padding: 7px;
	margin: 1px;
	-moz-border-radius: 3px;
}

.gallery-thumb a img {
	border-color: #ccc;
}

.gallery-thumb a:hover img {
	border-width: 2px;
	border-color: #38c;
	margin: 0;
	-moz-border-radius: 5px;
}


/* -- Gallery Album listing --------------- */

.gallery-albums {
	clear: both;
}

.gallery-albums h4 { /* Years in Album overview (when grouped by year) */
	margin: 10px 0 0 0;
	font-size: 1.1em;
}

.gallery-albums .gallery-thumb {
	margin-right: 5px !important;
}

.gallery-album {
	width: 46%; /* Change to 96% if you want 1 Album per line */
	padding-right: 3%;
	display: block;
	float: left;
	overflow: hidden;
}

.gallery-album p {
	font-size: 1em;
}

.gallery-album .meta {
	margin-top: 3px;
	color: #999;
	font-size: 0.9em;
}


/* -- Gallery Items ----------------------- */

.gallery-items {
	margin: 0;
	clear: both;
}

.gallery-empty {
	padding: 0.5em 1.5em;
	margin: 1.5em 3em;
	border: 1px solid #ddd;
	background-color: #ffe;
	font-size: 1.2em;
}


/* -- Gallery Photo (detail page) --------- */

div.gallery-photo {
	text-align: center;
}

img.gallery-photo {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	padding: 7px;
	-moz-border-radius: 3px;
}

#prevArrow img, #nextArrow img {
	border-style: none;
}


/* -- Navigator --------------------------- */

.block-core-Navigator {
	float: right;
	margin: 1.5em 0;
	font-size: 0.9em;
	color: #333;
}

.block-core-Navigator .current,
.block-core-Navigator .first-and-previous,
.block-core-Navigator .next-and-last {
	display: inline;
	float: left;
}

.block-core-Navigator .current {
	margin: 0 0.5em;
}


/* -- ExifInfo ---------------------------- */

.block-exif-ExifInfo div {
	font-size: 0.8em;
	color: #999;
	margin: 1em 0;
}

table.gbDataTable {
	width: 100%;
	border-collapse: collapse;
}

table.gbDataTable td {
	padding: 0.2em 0.5em 0.2em 0;
	border-bottom: 1px solid #eee;
}

table.gbDataTable td.gbEven {
	font-weight: bold;
}

.gbBusy {
    background-color: #ae9 !important;
}

/* -- System- / Item-Links ---------------- */

.gbSystemLinks, .block-core-ItemLinks {
	clear: both;
	border-top: 3px solid #9c9;
	border-bottom: 1px solid #9c9;
	background-color: #efe;
	margin: 1.5em 0;
	padding: 0.5em;
}

.block-core-SystemLink { font-weight: bold; }

.gbSystemLinks .block-core-SystemLink a,
.block-core-ItemLinks a {
	display: block;
	padding: 0.3em;
}


/* -- Toolbar ----------------------------- */

#toolbar {
	clear: both;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	margin: 1em 0;
	padding: 0.5em;
}


/* -- Admin ------------------------------- */

.gallery-admin {
	font-size: 0.9em;
}

.gallery-admin h2 {
	font-size: 1.2em;
	margin-top: 2em;
	overflow: hidden;
}

.gallery-admin h4 {
	margin-bottom: 0.5em;
}

.giSuccess, .giWarning, .giError  {
	font-weight: bold;
}

.giSuccess { color: #5c0; }
.giWarning { color: #c50; }
.giError { color: #a44; }

.gallery-admin .gbBlock {
	margin: 1.5em 0 2em 0;
}

#gsSidebar {
	width: 13em;
	overflow: hidden;
	padding-right: 1em;
}

#gsSidebarCol {
	width: 1%;
}

#gsSidebar ul {
	padding: 0.2em 0 1.5em 0;
	margin: 0;
	font-weight: bold;
}

#gsSidebar ul ul {
	font-weight: normal;
}
#gsSidebar li.gbAdminLink {
	list-style: none;
	padding: 0.2em 0;
	margin: 0;
}

.gbTabBar {
	padding: 0.2em 0;
	border-bottom: 1px solid #ccc;
}

.gbTabBar a {
	border: 1px solid #ccc;
	padding: 0.2em 1em;
	background-color: #eee;
	margin: 0 0.2em;
}

.gbTabBar .giSelected {
	margin: 0 0.2em;
	padding: 0.2em 1em;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	font-weight: bold;
	background-color: #fff;
}

.giUpdated, .giNew {
	font: normal 9px Arial;
	text-transform: uppercase;
	color: #222;
	background-color: #ffea88;
	padding: 0 3px;
	margin-left: 3px;
}

.autoCompleteShadow {
    background-color: #a0a0a0 !important;
}

.autoCompleteContainer {
    border-color: #404040 #404040 #0a0;
    background-color: #fff;
}

.autoCompleteContainer li.yui-ac-highlight {
    background-color: #38c;
    color: #fff;
}
