li.giSelected {
  padding-left: 22px;
  background: url(bullet_arrow.gif) left center no-repeat;
}

.gbAdminLink {
  padding-left: 22px !important;
  background: url(bullet.gif) left center no-repeat;
}

.gbAdminLink a {
  margin-left: -22px;
  padding-left: 22px;
}

/* Special */
.gbLink-Help {
  width: 20px;
  height: 16px;
  background: url(help.gif) left center no-repeat;
}

.gbLink-Help a {
  display: none;
}

/* Core */
.gbLink-core_ItemAdmin-core_ItemAdd {
  background-image: url(add_items.gif);
}
.gbLink-core_ItemAdmin-core_ItemAddAlbum {
  background-image: url(add_album.gif);
}
.gbLink-core_ItemAdmin-core_ItemDelete,
.gbLink-core_ItemAdmin-core_ItemDeleteSingle {
  background-image: url(delete_photo.gif);
}
.gbLink-core_ItemAdmin-core_ItemDelete-album,
.gbLink-core_ItemAdmin-core_ItemDeleteSingle-album {
  background-image: url(delete_album.gif);
}
.gbLink-core_ItemAdmin-core_ItemEdit {
  background-image: url(edit_photo.gif);
}
.gbLink-core_ItemAdmin-core_ItemEdit-album {
  background-image: url(edit_album.gif);
}
.gbLink-core_ItemAdmin-core_ItemEditCaptions {
  background-image: url(edit_captions.gif);
}
.gbLink-core_ItemAdmin-core_ItemPermissions {
  background-image: url(edit_permissions.gif);
}
.gbLink-core_ItemAdmin-core_ItemReorder {
  background-image: url(reorder_items.gif);
}
.gbLink-core_ItemAdmin-core_ItemMove,
.gbLink-core_ItemAdmin-core_ItemMoveSingle {
  background-image: url(move_photo.gif);
}
.gbLink-core_ItemAdmin-core_ItemMakeHighlight {
  background-image: url(make_highlight.gif);
}
.gbLink-core_AdminCore {
  background-image: url(general.gif);
}
.gbLink-core_AdminPlugins {
  background-image: url(modules.gif);
}
.gbLink-core_AdminThemes {
  background-image: url(layout.gif);
}
.gbLink-core_AdminToolkitPriority {
  background-image: url(toolkit_priority.gif);
}
.gbLink-core_AdminMaintenance {
  background-image: url(site_maintenance.gif);
}
.gbLink-core_AdminPerformance {
  background-image: url(admin_performance.gif);
}

/* Users */
.gbLink-core_UserChangePassword {
  background-image: url(key7-16-bw.gif);
}
.gbLink-core_UserPreferences {
  background-image: url(userinfo.png);
}
.gbLink-core_AdminUsers {
  background-image: url(users.gif);
}
.gbLink-core_AdminGroups {
  background-image: url(groups.gif);
}
.gbLink-core_UserLogin {
  background-image: url(key7-16-bw.gif);
}
.gbLink-register_UserSelfRegistration {
  background-image: url(registration.gif);
}

/* Import */
.gbLink-archiveupload_ArchiveUploadSiteAdmin {
  background-image: url(import_archive.gif);
}
.gbLink-migrate_SelectGallery {
  background-image: url(gallery.gif);
}
.gbLink-picasa_SelectPicasaExportPath {
  background-image: url(picasa.gif);
}
.gbLink-uploadapplet_UploadAppletSiteAdmin {
  background-image: url(uploadapplet.gif);
}
.gbLink-webcam_WebCamSiteAdmin {
  background-image: url(webcam.gif);
}

/* Extra Data */
.gbLink-comment_AddComment,
.gbLink-comment_CommentSiteAdmin {
  background-image: url(add_comment.gif);
}
.gbLink-comment_ShowAllComments,
.gbLink-core_ItemAdmin-comment_ShowComments {
  background-image: url(view_comment.gif);
}
.gbLink-customfield_CustomFieldSiteAdmin {
  background-image: url(custom_fields.gif);
}
.gbLink-exif_AdminExif {
  background-image: url(exif_parser.gif);
}
.gbLink-getid3_AdminGetid3 {
  background-image: url(getid3.gif);
}
.gbLink-mime_MimeAdmin {
  background-image: url(mime_types.gif);
}
.gbLink-multilang_MultiLangSiteAdmin {
  background-image: url(multilang.gif);
}
.gbLink-rating_RatingSiteAdmin {
  background-image: url(rating.gif);
}

/* Graphics Toolkits */
.gbLink-dcraw_AdminDcraw {
  background-image: url(dcraw.gif);
}
.gbLink-ffmpeg_AdminFfmpeg {
  background-image: url(ffmpeg.gif);
}
.gbLink-gd_AdminGd {
  background-image: url(gd.gif);
}
.gbLink-imagemagick_AdminImageMagick {
  background-image: url(image_magick.gif);
}
.gbLink-netpbm_AdminNetPbm {
  background-image: url(pbm.gif);
}

/* Blocks */
.gbLink-albumselect_AlbumSelectSiteAdmin {
  background-image: url(album.gif);
}
.gbLink-imageblock_ImageBlockSiteAdmin {
  background-image: url(random_popular.gif);
}

/* Gallery */
.gbLink-captcha_CaptchaSiteAdmin {
  background-image: url(captcha.gif);
}
.gbLink-debug_ShowTree {
  background-image: url(debug_tree.gif);
}
.gbLink-members_AdminMembers, .gbLink-members_MembersList {
  background-image: url(members.gif);
}
.gbLink-notification_NotificationSiteAdmin, .gbLink-notification_NotificationUserAdmin,
.gbLink-core_ItemAdmin-notification_NotificationItemAdmin {
  background-image: url(watch.gif);
}
.gbLink-permalinks_PermalinksSiteAdmin {
  background-image: url(permalinks.gif);
}
.gbLink-quotas_AdminQuotas {
  background-image: url(quotas.gif);
}
.gbLink-register_AdminSelfRegistration {
  background-image: url(registration.gif);
}
.gbLink-rewrite_AdminRewrite {
  background-image: url(url_rewrite.gif);
}
.gbLink-search_SearchScan {
  background-image: url(advanced_search.gif);
}
.gbLink-useralbum_UserAlbumSiteAdmin {
  background-image: url(user_albums.gif);
}

/* Display */
.gbLink-dynamicalbum_DynamicAlbumSiteAdmin, .gbLink-dynamicalbum_UpdatesAlbum,
.gbLink-dynamicalbum_PopularAlbum, .gbLink-dynamicalbum_RandomAlbum {
  background-image: url(dynamic_album.gif);
}
.gbLink-icons_IconsSiteAdmin {
  background-image: url(icon_module.gif);
}
.gbLink-keyalbum_KeywordAlbumSiteAdmin {
  background-image: url(keyword_album.gif);
}
.gbLink-linkitem_LinkItemSiteAdmin {
  background-image: url(create_link.gif);
}
.gbLink-newitems_NewItemsSiteAdmin {
  background-image: url(new_items.gif);
}
.gbLink-panorama_PanoramaSiteAdmin, .gbLink-panorama_Panorama {
  background-image: url(panorama.gif);
}
.gbLink-randomhighlight_RandomHighlightSiteAdmin {
  background-image: url(random_highlight.gif);
}
.gbLink-core_ItemAdmin-rearrange_RearrangeItems {
  background-image: url(reorder_items.gif);
}
.gbLink-core_ItemAdmin-replica_ItemCreateReplica,
.gbLink-core_ItemAdmin-replica_ItemCreateReplicaSingle {
  background-image: url(create_link.gif);
}
.gbLink-slideshow_Slideshow {
  background-image: url(view_slideshow.gif) left bottom no-repeat;
}
.gbLink-slideshowapplet_SlideshowApplet,
.gbLink-slideshowapplet_SlideshowAppletSiteAdmin {
  background-image: url(view_fullscreen_slideshow.gif);
}
.gbLink-squarethumb_SquareThumbSiteAdmin {
  background-image: url(squarethumb.gif);
}
.gbLink-thumbnail_ThumbnailSiteAdmin {
  background-image: url(thumbnails.gif);
}
.gbLink-watermark_WatermarkSiteAdmin,
.gbLink-watermark_UserWatermarks {
  background-image: url(watermark.gif);
}

/* Commerce */
.gbLink-ecard_SendEcard,
.gbLink-ecard_AdminEcard {
  background-image: url(ecard.gif);
}
.gbLink-cart_ViewCart {
  background-image: url(cart.gif);
}
.gbLink-cart_AddToCart {
  background-image: url(add_cart.gif);
}
.gbLink-shutterfly_PrintPhotos,
.gbLink-photoaccess_PrintPhoto,
.gbLink-fotokasten_PrintPhotos,
.gbLink-digibug_DigibugPrintPhotos,
.gbLink-snapgalaxy_SnapGalaxyPrintPhotos,
.gbLink-digibug_AdminDigibug {
  background-image: url(print.gif);
}
.gbLink-fotokasten_FotokastenSiteAdmin {
  background-image: url(fotokasten.gif);
}
.gbLink-snapgalaxy_AdminSnapGalaxy {
  background-image: url(snapgalaxy.gif);
}
.gbLink-zipcart_ZipCartAdmin {
  background-image: url(zip_download.gif);
}

/* Authentication */
.gbLink-httpauth_HttpAuthSiteAdmin {
}

/* Remote Interfaces */
.gbLink-remote_RemoteSiteAdmin {
  background-image: url(remote.gif);
}
.gbLink-webdav_WebDavSiteAdmin,
.gbLink-webdav_WebDavMount {
}

/* Export */
.gbLink-rss_SimpleRender, .gbLink-core_ItemAdmin-rss_EditFeed, .gbLink-rss_RssSiteAdmin {
  background-image: url(rss_feed.gif);
}
.gbLink-sitemap_AdminSitemap {
  background-image: url(google_sitemap.gif);
}


/* Addviaemail Configure */
.gbLink-addviaemail_Configure {
}
/* Calendar Site Admin */
.gbLink-calendar_CalendarSiteAdmin {
}
/* Checkout Admin */
.gbLink-checkout_Admin {
}
/* Checkoutauthorizenet Admin */
.gbLink-checkoutauthorizenet_Admin {
}
/* Checkoutemail Admin */
.gbLink-checkoutemail_Admin {
}
/* Checkoutpaypal Admin */
.gbLink-checkoutpaypal_Admin {
}
/* Cmmigrate Select Cm Album */
.gbLink-cmmigrate_SelectCmAlbum {
}
/* Comment Admin Moderate Spam */
.gbLink-comment_AdminModerateSpam {
}
/* Core Admin Event Log Viewer */
.gbLink-core_AdminEventLogViewer {
}
/* Core Admin Language Manager */
.gbLink-core_AdminLanguageManager {
}
/* Favourites Site Admin */
.gbLink-favourites_FavouritesSiteAdmin {
}
/* Fire Stats Config Page */
.gbLink-firestats_FireStatsConfigPage {
}
/* Getid3:Admin Getid3 */
.gbLink-getid3:AdminGetid3 {
}
/* Get Urls Site Admin */
.gbLink-geturls_GetUrlsSiteAdmin {
}
/* ICalendar Site Admin */
.gbLink-icalendar_ICalendarSiteAdmin {
}
/* Item Add Site Admin */
.gbLink-itemadd_ItemAddSiteAdmin {
}
/* Admin Jpegtran */
.gbLink-jpegtran_AdminJpegtran {
}
/* Linksinthehead Admin */
.gbLink-linksinthehead_Admin {
}
/* Map Site Admin */
.gbLink-map_MapSiteAdmin {
}
/* Plugin Active */
.gbLink-plugin-active {
}
/* Plugin Inactive */
.gbLink-plugin-inactive {
}
/* Plugin Incompatible */
.gbLink-plugin-incompatible {
}
/* Plugin Locked */
.gbLink-plugin-locked {
}
/* Plugin Uninstall */
.gbLink-plugin-uninstall {
}
/* Plugin Upgrade */
.gbLink-plugin-upgrade {
}
/* Admin Slideshow */
.gbLink-slideshow_AdminSlideshow {
}
/* Statistics Site Admin */
.gbLink-statistics_StatisticsSiteAdmin {
}
/* Admin Settings Tags */
.gbLink-tags_AdminSettingsTags {
}
/* Admin Tags */
.gbLink-tags_AdminTags {
}
/* Userinfo */
.gbLink-userinfo_Userinfo {
}
/* OpenID */
.gbLink-openid_OpenIdSiteAdmin {
  background-image: url(openid-16x16.gif);
}
