/****************************
 * Hybrid theme for Gallery2
 * @author Alan Harder <alan.harder@sun.com>
 * $Revision: 17012 $
 */

table#hybridMain {
    width: 100%;
    height: 100%;
}
div#sidebar {
    border-right-width: 1px;
}

div#album_titlebar {
    position: fixed;
    border-bottom-width: 1px;
    width: 100%; /* for Opera */
}
div#album_tools {
    float: left;
    margin-right: 3px;
}
div#album_tools img {
    margin-right: 1px;
}
div#album_info {
    margin-left: 1em;
}

#gsAlbumContent table.content {
    margin: 3px 0 1px 3px;
}
#gsAlbumContent table.itemtext {
    width: 100%;
}
#gsAlbumContent td.i {
    text-align: center;
    vertical-align: top;
    padding: 0 5px 3px 0;
}
#gsAlbumContent td.i table {
    margin: auto; /* So imageframe can be centered */
}
#gsAlbumContent td.t {
    vertical-align: top;
}
#gsAlbumContent td.t img {
    margin-left: 1px;
}
#gsAlbumContent td.t div.title {
    margin-right: 6px;
    padding: 1px 3px;
}
#gsAlbumContent img.popup_button {
    display: none;
    margin-left: 2px;
}

div#imageview {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* for Opera */
    border-bottom: 1px solid transparent; /* for Firefox Mac */
}
div#imagearea {
    overflow: hidden;
    width: 100%; /* for IE */
}
div#imagediv {
    text-align: center;
}
div#imagediv img {
    display: block;
    margin: auto;
}
div#textdiv {
    border-top-width: 1px;
}
div#tools_left {
    float: left;
}
div#tools_left img {
    margin-right: 1px;
}
div#tools_right {
    float: right;
}
div#tools_right img {
    margin-left: 1px;
}
span#date {
    vertical-align: 4px;
}
div#title {
    text-align: center;
    min-height: 19px; /* for Gecko */
}
div#text {
    display: none;
    clear: both;
    height: 4em;
    width: 100%; /* for Safari */
    overflow: auto;
    border-top-width: 1px;
    text-align: center;
}

div#popup_menu {
    display: none;
    position: absolute;
    padding: 1px 5px 3px 2px;
    border-width: 3px;
    border-style: outset !important;
    line-height: 1.33em;
    font-size: 90%;
}
div#popup_details {
    display: none;
    position: fixed;
    left: 15%;
    top: 14%;
    width: 70%;
    height: 75%;
    z-index: 2;
    border-width: 0 5px 5px;
    border-style: ridge !important;
}
div#popup_details object, div#popup_details iframe {
    width: 100%;
    height: 100%;
}
div#popup_titlebar {
    display: none;
    position: fixed;
    left: 15%;
    top: 11%;
    width: 70%;
    height: 3%;
    z-index: 2;
    border-width: 5px 5px 2px;
    border-style: ridge ridge solid !important;
    text-align: center;
}

.gbBlock {
    margin: 0 0 0 4px;
    padding: 2px 4px 5px 0;
    border-width: 0 0 1px 0;
    border-style: inherit;
    border-color: inherit;
    /* IE can't inherit these */
    border-style: expression(parentElement.currentStyle.borderStyle);
    border-color: expression(parentElement.currentStyle.borderColor);
}
.gbBlock ul {
    margin: 0 0 0 4px;
    padding: 0;
    list-style-type: none;
}
.gbBlock li {
    padding: 0 0 2px 0;
}
.gbBlock ul ul {
    margin: 0 0 0.25em 0.6em;
}
.gbBlock h3 {
    margin: 0;
    padding: 3px 0 5px 0;
}
.gbBlock select {
    font-size: 0.9em;
}
#SearchSystemContent input {
    margin-top: 6px;
    padding: 0 2px 0 2px;
    font-size: 90%;
}

#gsSidebar .block-core-SystemLink {
    display: block;
}


/* ********************************************************************************
 * Building blocks
 * h2, h3, p, etc        Standard html tags
 * div.gbBlock           Sidebar or content section with style for contained lists
 * ul.gbBreadCrumb       List of links/path elements
 * table.gbDataTable     Table for data/form elements with styles for shading rows
 */

#gallery h2, #gallery h3, #gallery h4, #gallery form {
    margin: 0;
    padding: 0;
}

#gallery p {
    margin: 0.6em 0;
    padding: 0;
}


.gbBlock {
    padding: 0.7em;
    border-width: 0 0 1px 0;
    border-style: inherit;
    border-color: inherit;
    /* IE can't inherit these */
    border-style: expression(parentElement.currentStyle.borderStyle);
    border-color: expression(parentElement.currentStyle.borderColor);
}

.gbBlock ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.gbBlock ul ul {
    margin: 0 0 0.5em 1.0em;
}

.gbBlock li {
    padding: 6px 0 0 0;
}

#gallery .gbBlock h3 {
    margin-bottom: 0.5em;
}

#gallery .gbBlock h4 {
    margin-top: 0.5em;
}


#gsNavBar div.gbBreadCrumb {
    margin: 0;
    padding: 4px 8px;
}

table.gbDataTable {
    padding-bottom: 4px;
}

table.gbDataTable th, table.gbDataTable td {
    padding: 4px;
}


.giBlockToggle {
    padding: 0 0.4em 0.1em;
}
.giBlockToggle:hover {
    cursor: pointer;
}


.gbMarkupBar {
    margin: 4px 0;
}

#gallery .gbMarkupBar input {
    margin: 0;
    padding: 0;
}


/* ********************************************************************************
 * Sections
 * body.gallery     Page body in G2 standalone (doesn't apply to embedded)
 * #gallery         Page container
 * #gsNavBar   Top bar with breadcrumb and other links
 * #gsSidebar       Sidebar
 * #gsContent       Main content
 */

body.gallery {
    margin: 0;
    padding: 0;
}

#gallery.rtl {
    direction: rtl;
}

#gsNavBar {
    border-top-width: 1px;
    border-bottom-width: 1px;
}

#gsNavBar div.gbSystemLinks {
    padding: 4px 6px;
}

#gsNavBar div.gbSystemLinks span {
    padding: 0 4px;
}

#gsSidebarCol {
    width: 1%; /* Expand to fit content ("0" bad4 firefox, "1px" bad4 opera) */
}

#itemAdminForm #gsSidebar, #siteAdminForm #gsSidebar, #userAdminForm #gsSidebar {
    width: 160px;
    overflow: hidden;
}

td.giAlbumCell, td.giItemCell {
    padding: 1em;
    text-align: center;
}

#gallery td.giAlbumCell select, #gallery td.giItemCell select {
    margin-top: 0.8em;
}

/* So imageframed thumbs can be centered */
td.giAlbumCell table, td.giItemCell table {
    margin: auto;
}

#gallery #gsSidebar ul {
    font-size: 1em;
}

/* ********************************************************************************
 * Matrix Theme for Gallery 2
 * by Ross A. Reyman, Jon Huang, and Chad Kieffer
 * updated by Alan Harder
 */

/* ********************************************************************************
 * Building blocks
 * #gallery              Default font/color settings
 * .gcBackground1,2..    Palette of backgrounds
 * .gcBorder1,2..        Palette of borders
 * a, h2, h3, etc        Standard html tags
 * .giTitle, .giSubtitle, .giDescription, .giInfo, .giSuccess, .giWarning, .giError
 *                       Palette of text styles
 * div.gbBreadCrumb      List of links/path elements
 * table.gbDataTable     Table for data/form elements with styles for shading rows
 * div.gbTabBar          UI component for selectable tabs
 * .autoComplete*        Styles for autoComplete popup lists
 */

#gallery {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    color: #333;
    background-color: #fff;
}
body.gallery {
    background-color: #fff;
}

.gcBackground1 {
    background-color: #eee;
}

.gcBackground2 {
    background-color: #e7e7e7;
}

.gcBorder1 {
    border: 0 solid #ccc;
}

.gcBorder2 {
    border: 0 solid #888;
}

#gallery a {
    font-weight: bold;
    text-decoration: none;
    color: #6b8cb7;
}
#gallery a:hover {
    text-decoration: underline;
    color: #f4560f;
}
#gallery a:active {
    text-decoration: none;
    color: #f9c190;
}

#gallery img {
    border-width: 0;
}

#gallery h2, #gallery h3, #gallery h4 {
    font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
}

#gallery input:focus, #gallery textarea:focus {
    background-color: #ffc;
    color: #000;
}

#gallery input.inputTypeSubmit, #gallery input.inputTypeButton {  /* No input[type=submit] in IE */
    color: #333;
    background-color: #eee;
    border-width: 2px;
    border-style: solid;
    border-color: #e7e7e7 #666 #666 #e7e7e7;
}

#gallery select {
    font-size: 1em;
}

.giTitle, #gallery h2, #gallery h3, #gallery h4 {
    font-size: 1.3em;
    font-weight: bold;
}

#gallery pre, #gallery tt {
    font-family: Courier New;
    font-size: 1.2em;
}

.giSubtitle {
    font-size: 0.9em;
    font-weight: normal;
    vertical-align: text-bottom;
}

.giDescription {
    font-size: 1.1em;
    line-height: 1.4em;
}

.giInfo {
    font-size: 0.9em;
    color: #888;
}

.giSuccess, .giWarning, .giError  {
    font-weight: bold;
}

.giSuccess { color: #5c0; }
.giWarning { color: #c50; }
.giError { color: #a44; }

.giNew, .giUpdated {
    border-width: 2px;
    border-style: ridge;
    padding: 0 3px;
    line-height: 1.9em;
}

#gsNavBar div.gbBreadCrumb {
    font-size: 1.1em;
    font-weight: bold;
}

#gsNavBar div.gbBreadCrumb a, #gsNavBar div.gbBreadCrumb span {
    padding: 0 0 0 14px;
    background: url('../matrix/images/icon_path_separator.gif') no-repeat left;
}

#gsNavBar div.gbBreadCrumb a.BreadCrumb-1 {   /* no :first-child in IE */
    padding-left: 0;
    background-image: none;
    white-space: nowrap;
}
#gallery.IE div.gbBreadCrumb span {
    display: inline-block;   /* IE loses padding-left on wrapped inline nowrap element */
    padding-right: 4px;      /* IE has less space at right of each span */
}

#gsNavBar div.gbBreadCrumb span.BreadCrumb-1 {   /* no :first-child in IE */
    padding-left: 0;
    background-image: none;
}

#gsNavBar div.gbSystemLinks {
  float: right;
}

table.gbDataTable th {
    text-align: left;
    background-color: #e7e7e7;
}

.gbEven {
    background-color: #fff;
}

.gbBusy {
    background-color: #ae9 !important;
}

.gbOdd {
    background-color: #eee;
}


div.gbTabBar {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0.8em 0 0;
    padding: 6px;
    background: url('../matrix/images/tab_bg.gif') repeat-x bottom;
    white-space: nowrap;
}

div.gbTabBar span.o {
    padding: 6px 0 5px 8px;
    background: url('../matrix/images/tab_left.jpg') no-repeat left top;
}
#gallery.IE div.gbTabBar span.o {
    display: inline-block;   /* IE loses padding-left on wrapped inline nowrap element */
    margin-bottom: 1px;      /* ..and then adds padding differently with inline-block.. */
}
/* IE may clip off the right end of a long set of tabs, so allow IE to wrap them */
#gallery.IE div.gbTabBar { padding-bottom: 0; white-space: normal; }
#gallery.IE div.gbTabBar span.giSelected { margin-bottom: 0; }

#gallery div.gbTabBar span span {
    padding: 6px 12px 5px 4px;
    background: url('../matrix/images/tab_right.jpg') no-repeat right top;
}

#gallery div.gbTabBar a {
    color: #777;
    text-decoration: none;
}

#gallery div.gbTabBar a:hover {
    color: #333;
}

#gallery div.gbTabBar span.giSelected {
    padding-bottom: 6px;
    background-image: url('../matrix/images/tab_left_on.jpg');
}

#gallery div.gbTabBar span.giSelected span {
    color: #333;
    padding-bottom: 6px;
    background-image: url('../matrix/images/tab_right_on.jpg');
}

.autoCompleteShadow {
    background-color: #a0a0a0 !important;
}

.autoCompleteContainer {
    border-color: #444 #444 #080;
    background-color: #fff;
}

.autoCompleteContainer li.yui-ac-highlight {
    background-color: #eee;
}

#gallery .gbMarkupBar input {
    font-size: 1.1em;
}

.giSearchHighlight {
    font-weight: bold;
    background-color: #ff6;
}

/* ********************************************************************************
 * Sections
 * #gallery         Page container
 * #gsNavBar   Top bar with breadcrumb and other links
 * #gsSidebar       Sidebar
 * #gsContent       Main content
 */

#gsNavBar div {
    margin-top: 0.1em;  /* Align system links with breadcrumb */
    font-weight: bold;
}

#gsSidebar div ul {   /* no > in IE */
    font-size: 1.1em;
    font-weight: bold;
}
#gsSidebar div ul ul { font-size: 1.0em; }

#gsSidebar ul span {
    color: #999;
}

div.block-search-SearchBlock a.advanced {
  display: block;
  padding: 3px;
}

div.block-core-ItemLinks {
  margin: 3px 0;
}
div.block-core-ItemLinks a {
  padding: 3px;
}
div#gsSidebar div.block-core-ItemLinks a {
  display: block;
}

div#gsSidebar div.block-core-PeerList a {
  display: block;
  padding: 3px;
}

div#gsSidebar div.block-core-PeerList span {
  font-weight: bold;
  display: block;
  padding: 3px;
}

div#gsSidebar div.block-core-PeerList span.current {
  color: #0b6cff;
}

/* ***************************************************** */
/*                   Dynamic blocks                      */
/* ***************************************************** */

.block-core-Pager {
    font-size: 1.1em;
    margin: 0;
}
.block-core-Pager span {
    padding: 0 0.3em;
}

.giDescription .block-core-ItemInfo {
    margin-top: 0.5em;
    line-height: 1.2em;
}

div.block-comment-ViewComments {
  margin: 5px;
}

div.block-comment-ViewComments div.one-comment {
  border: 1px solid #e7e7e7;
  padding: 5px;
  margin-bottom: 5px;
}

div.block-comment-ViewComments h3 {
}

div.block-comment-ViewComments span {
  padding-right: 5px;
}

div.block-comment-ViewComments p.info {
  font-style: italic;
  text-align: right;
  font-size: 0.95em;
}

div.block-core-GuestPreview {
  float: right;
}
#gallery.rtl div.block-core-GuestPreview {
  float: left;
}

span.block-core-SystemLink {
}

div.block-exif-ExifInfo {
  margin: 5px;
}

span.bsw_ButtonDisabled {
  color: #999;
}

span.bsw_ButtonEnabled {
  color: #000;
  cursor: pointer;
}

table.bsw_ParamTable {
  width: 100%;
  border: 1px solid #999;
  border-collapse: collapse;
}

tr.bsw_ParamHeaderRow {
  background-color: #EEE;
}

tr.bsw_ParamHeaderRow td {
  font-weight: bold;
  text-align: center;
  border: 1px solid #999;
}

td.bsw_BlockCommands {
  white-space: nowrap;
  text-align: center;
}
