.dig-text {
  font-family: Trebuchet MS,Arial,Verdana,Helvetica,sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 15px;
}
.dig-logo {
  background-image: url('images/logo.png');
  width: 107px;
  height: 36px;
  margin: 10px auto 0px;
}

.dig-basic-mode,
.dig-advanced-mode{
  float: left;
  width: 385 px;
}
.dig-modes{
  width: 820px;
  height: 420px;
  margin: 0px auto;
}

.dig-basic-mode{
  margin-right: 50px;
}

.dig-mode-top{
  background-image: url('images/top.png');
  background-repeat: no-repeat;
  width: 385px;
  height: 30px;
}
.dig-mode-body {
  background-image: url('images/body.png');
  background-repeat: repeat-y;
  padding-left: 20px;
  padding-right: 20px;
  width: 345px;
  height: 350px;
}
.dig-mode-bottom{
  background-image: url('images/bottom.png');
  background-repeat: no-repeat;
  width: 385px;
  height: 30px;
  /*margin-top: -10px;
     margin-top: 0px;*/
}
.dig-modes .mode-title{
  font-family: Georgia;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.dig-modes .mode-text{
  font-size: 12px;
  font-weight: bold;
  line-height: 17px;
  padding-bottom: 15px;
}

.dig-modes .mode-item{
  list-style-type: disc;
  padding-left: 20px;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}

.dig-modes .dig-small-rounded{
  background-image: url('images/small.png');
  background-repeat: no-repeat;
  width: 308px;
  height: 75px;
  margin: 0px auto;
  color: white;
  font-size: 11px;
  padding-left: 12px;
  padding-right: 20px;
  text-align: center;
  padding-top: 20px;
  line-height: 15px;
  margin-top: 10px;
}

.dig-small-rounded{
  float: left;
  font-weight: bold;
  font-size: 12px;
  margin-left: 60px;
  margin-right: -50px;
  margin-left: 50px;
  margin-right: 0px;
}

.clickable {
  cursor: pointer;
}

.dig-small-rounded div.title{
  clear: both;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.advanced-mode-form .dig-label,
.advanced-mode-form .dig-element{
  float: left;
}

.advanced-mode-form .dig-label{
  width: 100px;
  font-size: 12px;
  font-weight: bold;
}

.advanced-mode-form .dig-element input{
  width: 75px;
  border: 1px solid black;
}

.dig-sign-in{
  width: 115px;
  float: left;
}

.advanced-mode-form{
  float: left;
  padding-left: 30px;
  width: 180px;
}

.advanced-mode-form .dig-company,
.advanced-mode-form .dig-event{
  clear: both;
  width: 100%;
  padding-top: 2px;
}

.advanced-mode-form .mode-text{
  padding-bottom: 5px;
}

.dig-save{
  background-image: url(images/save.png);
  background-repeat: no-repeat;
  color: #605F5F;
  font-size: 14px;
  font-weight: bold;
  height: 21px;
  margin: 5px 0px 0px 0px;
  padding-top: 5px;
  text-align: center;
  width: 83px;
  cursor: pointer;
}

.dig-clr {
  clear: both;
}

.dig-advanced-mode .mode-text{
  line-height: 13px;
}
.mode-items li{
  padding-top: 10px;
}

.dig-intro{
  margin: 0px auto;
  width: 820px;
  padding-bottom: 20px;
}
