/*
 * $Id: quotas.css 15342 2006-12-01 21:14:46Z andy_st $
 */
.QuotasUsed {
    display: inline-block;
    background-color: #fd6704;
    border: thin solid #ddd;
    border-right: none;
    padding: 0;
    margin: 0;
}

.QuotasUsedFull {
    display: inline-block;
    background-color: #ff0000;
    border: thin solid #ddd;
    padding: 0;
    margin: 0;
}

.QuotasUnusedNone {
    display: inline-block;
    background-color: #fff;
    border: thin solid #ddd;
    padding: 0;
    margin: 0;
}

.QuotasUnused {
    display: inline-block;
    background-color: #eee;
    border: thin solid #ddd;
    border-left: none;
    padding: 0;
    margin: 0;
}

.QuotasBlock {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}

.QuotasHolder {
    width: 0;
    height: 8px;
    font-size: 0;
}
