/* <?php $colorpackName = $gallery->i18n('Black'); ?>
 * $Revision: 15978 $
 */

#gallery {
  color: #ffffff !important;
  background-color: #000000 !important;
}
body.gallery { background-color: #000000 !important; }

.gcBackground1 { background-color: #595959 !important; }
.gcBackground2 { background-color: #707070 !important; }

.gcBorder1 { border-color: #999999 !important; }
.gcBorder2 { border-color: #696969 !important; }

#gallery a { color: #00a0ff !important; }
#gallery a:hover { color: #cccc00 !important; }
#gallery a:active { color: #cccc00 !important; }

.giSuccess { color: #190 !important; }
.giWarning { color: #b31 !important; }
.giError { color: #d14 !important; }
.giInfo { color: #aaaaaa !important; }
.block-core-PeerList .current { color: #67b !important; }

table.gbDataTable th { background-color: #303030 !important; }
.gbEven { background-color: #707070 !important; }
.gbOdd { background-color: #505050 !important; }

#gallery select { background-color: #a0a0a0 !important; }
#gallery input { background-color: #a0a0a0 !important; }
#gallery textarea { background-color: #a0a0a0 !important; }
#gallery div.gbTabBar a {
  color: #00a0ff !important;
}

.autoCompleteContainer li {
    color: #000 !important;
}
