/* <?php $colorpackName = $gallery->i18n('Gold Leaf'); ?>
 * $Revision: 15342 $
 */

#gallery {
  color: black !important;
  background-color: gold !important;
}
body.gallery { background-color: gold !important; }

.gcBackground1 { background-color: goldenrod !important; }
.gcBackground2 { background-color: darkgoldenrod !important; }

.gcBorder1 { border-color: black !important; }
.gcBorder2 { border-color: #696969 !important; }

#gallery a { color: darkslategrey !important; }
#gallery a:hover { color: green !important; }
#gallery a:active { color: green !important; }
#gallery .gbTabBar a { color: darkslategrey !important; }

.giSuccess { color: green !important; }
.giWarning { color: lime !important; }
.giError { color: #ff3333 !important; }
.giInfo { color: #444444 !important; }
.block-core-PeerList .current { color: red !important; }

table.gbDataTable th { background-color: darkgoldenrod !important; }
.gbEven { background-color: goldenrod !important; }
.gbOdd { background-color: #ffe65c !important; }

#gallery select { background-color: #fffaad !important; }
#gallery textarea { background-color: #fffaad !important; }
#gallery input { background-color: #fffaad !important; }
#gsSidebar ul span { color: black !important; }
