/*
 * $Id: rating.css 15342 2006-12-01 21:14:46Z andy_st $
 */
.giRatingUI {
    display: block;
    padding: 0;
    margin: 10px 0;
}
.giRatingUI img {
    display: inline;
    height: 16px;
    width: 16px;
    margin: 0;   
    border: none;
}    
.giRatingUnit {
    display: block; 
    height: 16px;
    width: 16px;
    padding: 0;
}
.giRatingHidden {
    display: none !important;
}
.giRatingVotes {
    display: block;
}
.giRatingVotes span {
    display: inline !important;
}
.giRatingEmpty {
    background: transparent url('images/star_r_0.0.gif') no-repeat;
}
.giRatingEmptyUserYes {
    background: transparent url('images/star_u_noborder.gif') no-repeat;
}
.giRatingHalfUserNo {
    background: transparent url('images/star_r_0.5.gif') no-repeat;
}
.giRatingHalfUserYes {
    background: transparent url('images/star_07.gif') no-repeat;
}
.giRatingFullUserNo {
    background: transparent url('images/star_r_1.0.gif') no-repeat;
}
.giRatingFullUserYes {
    background: transparent url('images/star_u_1.0.gif') no-repeat;
}
.giRatingAverage {
    background-color: blue;
    height: 5px;
    float: left;
}
.giRatingAverageContainer {
    border: 1px solid #999;
    height: 5px;
    width: 80px;
    overflow: hidden;
}

#RatingImagePreload div {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    z-index: -1;
}
