<tr>
  <td class="header" colspan="2">
    <img src="<?php generateUrl('images/g2Logo_upgrade_head.png') ?>" alt="Gallery Upgrader"/>
    <table id="helpbar" cellspacing="0">
      <tr class="help">
        <td>
          <span class="helpBox">?</span>
        </td>
        <td>
          <a href="../README.html" target="_blank"><?php print _('Upgrader Help'); ?></a>
        </td>
      </tr>
      <tr>
        <td>
          <span class="helpBox">X</span>
        </td>
        <td>
          <a href="<?php generateUrl('index.php?startOver=1') ?>"><?php
                print _('Start Over'); ?></a>
        </td>
      </tr>
    </table>
  </td>
</tr>