    <h1><?php print _('Missing or invalid config.php') ?></h1>

    <p class="error">
      <?php print _('You tried to run the upgrade process but a valid config.php is missing.'); ?>
    </p>
    <ul>
      <li>
        <?php print _('If you\'ve lost your config.php file when replacing the Gallery 2 files in the preparation for this upgrade, please restore it and try again.'); ?>
      </li><li>
        <?php print _('If you actually want to run the Gallery 2 installer, please follow the link below.'); ?>
      </li><li>
        <?php print _('If you want to upgrade from Gallery 1, you first need to install Gallery 2 and then use the import module to import your data from Gallery 1. Please follow the link below to install Gallery 2.'); ?>
      </li>
    </ul>
    
    <div class="go">
      <a href="<?php print $templateData['installerUrl'] ?>">
	<?php print _('Go to the Gallery 2 Installer') ?>
      </a>
    </div>
