<div class="success">
    <h1><?php print _("Upgraded Gallery Core Module successfully.") ?></h1>
</div>

    <p>
      <?php print _("We've successfully upgraded the Gallery Core Module.") ?>
    </p>

    <?php if ($templateData['canChmod'] && !$templateData['isConfigSecure']): ?>
    <p>
      <?php printf(_("<b>Reminder</b>: Now update the permissions on config.php to make sure it is not writeable by other people.  Right now your config.php has modes of %s.  We suggest that you do this:"), $templateData['configFileMode']) ?>
    </p>
    <div class="example">
      <pre> <?php printf("chmod 644 %s", $templateData['configFilePath']) ?></pre>
    </div>
    <div class="go">
	  <a href="<?php generateUrl('index.php?step=' . $stepNumber) ?>" class="btn redo"><i></i><span><span></span><i></i><?php print _('Recheck config.php') ?></span></a>
    </div>
    <?php endif; ?>
