    <h1 class="error"><?php print _("An error occurred while upgrading Gallery Core Module") ?></h1>

    <p>
      <?php printf(_("Something went wrong when we tried to upgrade the core module.  In the boxes below you can find some debug information.  Report this in the %sGallery Forums%s and we'll help you diagnose the problem."),
	'<a href="http://gallery.sourceforge.net/forums.php">', '</a>') ?>
    </p>

    <h2>
      <?php print _("Stack Trace:") ?>
    </h2>
    <div class="stack_trace">
      <?php print $templateData['stackTrace']; ?>
    </div>

    <br />

    <h2>
      <?php print _("Debug Output:") ?>
    </h2>
    <div class="debug">
      <pre>
      <?php print $templateData['debug']; ?>
      </pre>
    </div>
